@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.main-container {
  flex-grow: 1;
  margin: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  box-sizing: border-box;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.button:disabled {
  background: #E5E5E5;
}

.navigation {
  display: flex;
  align-items: center;
  height: 65px;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}


.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 483px;
  list-style-type: none;
  align-items: center;
}


.navigation-link {
  position: relative;
  padding: 20px 17px;
  display: block;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  background: inherit;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
}

.navigation-link-current::after {
  z-index: 1;
  content: "";
  position: absolute;
  bottom: 0;
  left: 17px;
  right: 17px;
  height: 2px;
  background-color: #756257;
}

.navigation-user {
  max-width: 264px;
  margin-left: auto;
  min-width: 18px;
  min-height: 18px;
}

.navigation-search {
  background-image: url("../images/decoration/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  margin-right: 10px;
}

.navigation-favorite {
  background-image: url("../images/decoration/favorite.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  margin-right: 32px;
  position: relative;
}

.favorite-counter {
  position: absolute;
  left: 21px;
  top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  text-align: center;
  background: #7DB54F;
  border-radius: 10px;
}

.navigation-logo {
  display: block;
  margin-right: 30px;
  height: 70px;
  z-index: 1;
}

.i-want-here {
  box-sizing: border-box;
  display: block;
  padding: 8px 15px;
  min-width: 160px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #756157;
  border-radius: 4px;
}

.button-brown:hover {
  background: #615048;
}

.button-brown:focus-visible {
  background: #615048;
}

.button-brown:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-blue:hover {
  background: #68A2CA;
}

.button-blue:focus-visible {
  background: #68A2CA;
}

.button-blue:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.footer-social-link:hover {
  stroke: #68A2CA;
}

.footer-social-link:focus-visible {
  stroke: #68A2CA;
}

.footer-social-link:active {
  stroke: #82B3D3;
}

.footer-social-link:disabled {
  stroke: #E5E5E5;
}


.welcome-logo {
  padding-top: 51.4px;
  padding-bottom: 83.03px;
}

.welcome-logo-wrapper {
  text-align: center;
  background-image: url("../images/main/index-background.jpg");
  background-size: 100% auto;
  position: relative;
  background-repeat: no-repeat;
  background-color: #68a2ca;
  background-size: cover;
}

.welcome-logo-wrapper::after {
  position: absolute;
  bottom: -1.5px;
  left: 0;
  content: "";
  width: 1200px;
  height: 57px;
  background-image: url("../images/decor-index.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.underwelcome-title {
  margin: 63px 70px 31px 70px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  background: #ffffff;
}

.underwelcome-text {
  margin: 0 70px 90px 70px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  color: #333333;
  list-style-type: none;
  text-align: center;
}

.advantage-wrapper {
  display: flex;
}

.advantages-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.recommend-description {
  margin: 0;
  margin-bottom: 11px;
  margin-top: 15px;
}

.advantages-description {
  margin: 0;
  margin-top: 15px;
}

.advantages-numeral {
  margin-top: 15px;
  margin-bottom: 15px;
}

.recommend-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.recommend-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.recommend-item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  min-height: 384px;
  text-align: center;
  width: 400px;
  padding: 182px 70px 70px 70px;
}

.recommend-item::after {
  content: "";
  position: absolute;
  top: 80px;
  left: calc(50%-36px);
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center center;
}


.recommend-house::after {
  background-image: url("../images/house-icon.svg");
}

.recommend-food::after {
  background-image: url("../images/food.svg");
}

.recommend-souvenir::after {
  background-image: url("../images/souvenirs.svg");
}

.recommend-item:nth-child(odd) {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-photo {
  padding: 92px 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #82B3D3;
  color: #ffffff;
}

.advantages-item {
  min-height: 384px;
  box-sizing: border-box;

}

.advantages-item:nth-child(n+3):nth-child(odd) {
  padding: 92px 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  background: rgba(131, 179, 211, 0.12);


}

.advantages-item:nth-child(n+4):nth-child(even) {
  padding: 92px 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  background: rgba(131, 179, 211, 0.2);
}

.interest {
  text-align: center;
  padding: 91px 70px 93px 70px
}

.interest-index-title {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.interest-text {
  margin: 0;
  margin-bottom: 56px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.button-interest {
  display: inline-block;
  min-width: 574px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 12px 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #756157;
  border-radius: 4px;
}


.contacts-number {
  width: 331px;
  margin: 0 auto;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.contacts-number:hover {
  color: #756157;
}

.contacts-number:focus-visible {
  color: #756157;
}

.contacts-number:active {
  color: rgba(117, 97, 87, 0.3);
}


.catalog-products {
  padding: 35px 70px 70px 70px;
  background-image: url("../images/catalog/catalog-background.jpeg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #68a2ca;
  background-size: cover;
}

.catalog-products-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  padding-left: 25px;
  background-image: url("../images/decoration/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: 5px 8px;
  background-position: center left 10px;
}

.breadcrumbs-link-main {
  margin-left: 0;
  background-image: none;
  padding: 0;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;

}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  padding: 0;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  margin-top: 30px;
  padding: 0;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
  height: 149px;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 120px;
}

.control-input {
  color: #ffffff;
}

.control {
  position: relative;
  padding-left: 39px;
  cursor: pointer;
  display: block;
  margin-top: 15px;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.control-checkbox {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-input[type=radio]:checked+.control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  content: "";
  background-color: #3F5E72;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.control-input[type=checkbox]:checked+.control-checkbox::before {
  position: absolute;
  top: 5px;
  right: 4px;
  bottom: 5px;
  left: 4px;
  content: "";
  background-image: url("../images/decoration/checkbox-icon.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;

}

.catalog-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.button+.button {
  margin-left: 16px;
}

.button-submit {
  padding: 14px 15px;
  font-weight: 700;
  color: #ffffff;
  background: #82B3D3;
  border-radius: 4px;
}

.button-reset {
  margin-top: 20px;
  font-weight: 400;
  color: #ffffff;
  text-transform: capitalize;
  background: none;
}

.select-control {
  padding: 13px 133px 12px 17px;
  -webkit-appearance: none;
  border: none;
  box-shadow: inset 0 0 0 2px #e5e5e5;
  margin-left: 51px;
  color: #333333;
  text-transform: inherit;
  background-image: url("../images/decoration/form-mark.svg");
  background-repeat: no-repeat;
  background-size: 12px 7px;
  background-position: center right 20px;
}

.sorting {
  padding: 50px 71px 0 71px;
}

.sorting-top-wrapper {
  display: flex;
  justify-content: space-between;
}

.card-style-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
  justify-content: right;

}

.button-card-style {
  min-height: 48px;
  min-width: 48px;
  display: inline-block;
}

.hotel-card-list {
  padding: 0;
  list-style-type: none;
  margin: 0;
  margin-bottom: 66px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 18px;
}

.hotel-card-link {
  text-decoration: none;
  color: #000000;
}

.hotel-card {
  box-sizing: border-box;
  padding: 20px;
  width: 340px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  object-fit: cover;
}

.hotel-card-type-price-wrapper {
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.hotel-card-buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.hotel-card-rating-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotels-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}


.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.button-hotel-card-about {
  min-width: 140px;
  padding: 8px 5px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: #756157;
  border-radius: 4px;
}

.button-favourite {
  box-sizing: border-box;
  margin: 0;
  min-width: 140px;
  padding: 8px 5px;
  color: #ffffff;
  background: #82B3D3;
  border-radius: 4px;
  border: none;
}


.button-favourite-select {
  background: #7DB54F;
}

.hotel-card-rating {
  box-sizing: border-box;
  display: inline-block;
  min-width: 140px;
  padding: 8px 5px;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  background: #f2f2f2;
  border-radius: 4px;
}

.hotel-star {
  min-height: 37px;
}

.hotel-card-type {
  width: 140px;
  color: #333333;
}

.hotel-card-price {
  width: 140px;
  color: #333333;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 25px;
  margin: 0;
  border-top: 1px solid #E6E6E6;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(6, 60px);
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
}

.pagination-link {
  box-sizing: border-box;
  display: block;
  text-align: center;
  min-width: 60px;
  padding: 16px 4px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  background: #82B3D3;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;
  background: #f2f2f2;
}

.newsletter {
  padding: 94px 200px;
  background-color: #ffffff;
  text-align: center;
}

.newsletter-form {
  width: 800px;
  display: flex;
}

.subscribe {
  margin-top: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-text {
  margin-top: 0;
  margin-bottom: 46px;
}

.button-newsletter {
  padding: 12px 15px;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background: #82B3D3;
  border-radius: 0px 10px 10px 0px;
}

.newsletter-main {
  color: #ffffff;
  background-image: url("../images/main/interest-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #68a2ca;
  background-size: cover;
}

.field {
  padding: 20px;
  margin: 0;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px 0 0 10px;
  flex-grow: 1;
}

.page-footer {
  margin: aut auto 0 auto;
  padding: 0;
}

.footer {
  padding: 0 70px;
  min-height: 120px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  padding: 0;
  margin: 0;
  width: 142px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-link {
  display: block;
  width: 24px;
  height: 14px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}

.made {
  width: 115px;
}

.made-link:hover {
  fill: #756157;
}

.made-link:focus-visible {
  fill: #756157; 
}

.made-link:active {
  fill: rgba(117, 97, 87, 0.3);
}

.content-container {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}