@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.main-container {
  flex-grow: 1;
  margin: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.navigation {
  display: flex;
  justify-content: space-between;
  min-height: 65px;
  padding-left: 70px;
  padding-right: 70px;
}


.navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 483px;
  list-style-type: none;
  align-items: center;
}

.navigation-link {
  position: relative;
  padding: 20px 17px;
  display: block;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  background: inherit;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
}

.navigation-link-current::after {
  z-index: 1;
  content: "";
  position: absolute;
  bottom: 0;
  left: 17px;
  right: 17px;
  height: 2px;
  background-color: #756257;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-user {
  margin-bottom: auto;
  margin-top: 13px;
  justify-content: flex-end;
  width: 420px;
}

.navigation-search {
  margin-left: 2px;
  background-image: url("../images/decoration/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.navigation-favorite {
  margin-right: 10px;
  padding-right: 40px;
  background-image: url("../images/decoration/favorite.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  position: relative;
}

.favorite-counter {
  position: absolute;
  left: 29px;
  top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
  text-align: center;
  letter-spacing: -0.1em;
  background: #7DB54F;
  border-radius: 10px;
}

.navigation-logo {
  display: block;
  margin-right: 30px;
  margin-bottom: -3px;
  height: 70px;
  z-index: 1;
}

.i-want-here {
  max-width: 160px;
  box-sizing: border-box;
  display: block;
  padding: 8px 15px;
  min-width: 160px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #756157;
  border-radius: 4px;
  outline: none;
}

.button-brown:hover {
  background: #615048;
}

.button-brown:focus {
  background: #615048;
}

.button-brown:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-blue:hover {
  background: #68A2CA;
}

.button-blue:focus {
  background: #68A2CA;
}

.button-blue:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.welcome-logo-wrapper {
  padding: 46px 70px 83px 70px;
  text-align: center;
  background-image: url("../images/main/index-background.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-color: #68a2ca;
  background-size: cover;
  color: #FFFFFF;
}

.welcome-logo-wrapper::after {
  position: absolute;
  bottom: 0.5px;
  left: 0;
  content: "";
  width: 1200px;
  height: 57px;
  background-image: url("../images/decor-index.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.underwelcome-wrapper {
  padding: 58px 70px 72px 70px;
}

.underwelcome-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  background: #ffffff;
}

.underwelcome-text {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  color: #333333;
  list-style-type: none;
  text-align: center;
}

.advantages-image {
  background-color: #82B3D3;
  display: block;
  object-fit: cover;
  height: auto;
}

.advantage-wrapper {
  display: flex;
}

.advantages-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.recommend-description {
  margin: 0;
  margin-bottom: 11px;
  margin-top: 15px;
}

.advantages-description {
  margin: 0;
  margin-top: 15px;
}

.advantages-numeral {
  margin-top: 15px;
  margin-bottom: 15px;
}

.recommend-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.recommend-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.recommend-item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  min-height: 384px;
  text-align: center;
  width: 400px;
  padding: 182px 70px 70px 70px;
}

.recommend-item::after {
  content: "";
  position: absolute;
  top: 80px;
  left: calc(50%-36px);
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center center;
}

.recommend-house::after {
  background-image: url("../images/house-icon.svg");
}

.recommend-food::after {
  background-image: url("../images/food.svg");
}

.recommend-souvenir::after {
  background-image: url("../images/souvenirs.svg");
}

.recommend-item:nth-child(odd) {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-photo {
  padding: 91px 85px;
  padding-bottom: 95px;
  min-width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #82B3D3;
  color: #ffffff;
}

.advantages-item {
  min-height: 384px;
  box-sizing: border-box;

}

.advantages-item:nth-child(n+3):nth-child(odd) {
  padding: 97px 85px;
  padding-bottom: 107px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(n+4):nth-child(even) {
  padding: 97px 85px;
  padding-bottom: 107px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  background: rgba(131, 179, 211, 0.2);
}

.interest {
  text-align: center;
  padding: 86px 70px 93px 70px
}

.interest-index-title {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.interest-text {
  margin: 0;
  margin-bottom: 56px;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.button-interest {
  display: inline-block;
  min-width: 574px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 12px 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #756157;
  border-radius: 4px;
}

.contacts-number {
  margin-left: auto;
  margin-right: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 331px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.contacts-number:hover {
  color: #756157;
}

.contacts-number:focus {
  color: #756157;
}

.contacts-number:active {
  color: rgba(117, 97, 87, 0.3);
}

.catalog-products {
  padding: 30px 70px 70px 70px;
  background-image: url("../images/catalog/catalog-background.jpeg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #68a2ca;
  background-size: cover;
}

.catalog-products-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  padding-left: 25px;
  background-image: url("../images/decoration/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: 5px 8px;
  background-position: center left 10px;
}

.breadcrumbs-link-main {
  margin-left: 0;
  background-image: none;
  padding: 0;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}
.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link-main:hover svg {
  fill: rgba(255, 255, 255, 0.6);
}
.breadcrumbs-link-main:active svg {
  fill: rgba(255, 255, 255, 0.6);
}

.catalog-filter {
  display: grid;
  grid-template-columns: 222px 231px auto auto;
  color: #ffffff;
  row-gap: 20px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  padding: 0;
}

.catalog-range {
  margin-bottom: 34px;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  margin-top: 30px;
  padding: 0;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
  height: 149px;
}

.catalog-filter-group:last-of-type {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  margin-left: 88px;
}

.control-input {
  color: #ffffff;
}

.control {
  position: relative;
  padding-left: 39px;
  cursor: pointer;
  display: block;
  margin-top: 15px;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.control-input:focus+.control-mark {
  box-shadow: 0 0 0 3px #83B3D3;
}

.control-checkbox {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-input:hover+.control-checkbox {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input:focus+.control-checkbox {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 3px #83b3d3;
}

.control-input:active+.control-checkbox {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type=radio]:checked+.control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  content: "";
  background-color: #3F5E72;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.control-input[type=checkbox]:checked+.control-checkbox::before {
  position: absolute;
  top: 5px;
  right: 4px;
  bottom: 5px;
  left: 4px;
  content: "";
  background-image: url("../images/decoration/checkbox-icon.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.range-scale {
  position: relative;
  width: 288px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 29px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
  width: 227px;
}

.range-wrapper-inputs {
  display: flex;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-input {
  font-family: "PT Sans", sans-serif;
  width: 110px;
  padding: 13px;
  padding-left: 17px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background: none;
  color: #ffffff;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  border-radius: 4px 0 0 4px;
  -moz-appearance: textfield;
}

.range-input:disabled {
  opacity: 0.3;
  cursor: default;
}

.range-input::-webkit-inner-spin-button, 
.range-input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.catalog-filter-label {
  position: relative;
}

.range-input-start {
  position: absolute;
  right: 14px;
  top: 12px;
  opacity: 0.3;
}

.range-input-end {
  position: absolute;
  top: 11px;
  right: 14px;
  opacity: 0.3;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
  border-left: 1px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.range-input-min {
  border-left: 2px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  margin: 0;
}

.range-input:hover {
  border-color: rgba(255, 255, 255, 0.3);
}

.range-input:focus {
  box-shadow: 0 0 0 2px#81B3D2, 0 0 0 2px inset #81B3D2;
  outline: none;
  border-color: #FFFFFF;
}

.range-input:active {
  background: #756257;
  border-color: #FFFFFF;
  box-shadow: none;
}

.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.range-toggle:focus {
  outline: none;
  border: 3px solid #83B3D3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.catalog-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.button-submit {
  width: 158px;
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 14px 15px;
  font-weight: 700;
  color: #ffffff;
  background: #82B3D3;
  border-radius: 4px;
}

.button-reset {
  width: 158px;
  margin: 0;
  font-weight: 400;
  color: #ffffff;
  text-transform: capitalize;
  background: none;
}

.button-reset:hover {
  opacity: 60%;
}

.button-reset:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  border-radius: 4px;
  opacity: unset;
  outline: none;
}

.button-reset:active {
  opacity: 0.3;
  border: none;
}

.select-control {
  padding: 10px 105px 12px 17px;
  -webkit-appearance: none;
  border: none;
  box-shadow: inset 0 0 0 2px #e5e5e5;
  margin-left: 117px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 290px;
  text-transform: inherit;
  background-image: url("../images/decoration/form-mark.svg");
  background-repeat: no-repeat;
  background-size: 12px 7px;
  background-position: center right 20px;
  background-color: #FFFFFF;
}

.select-control:disabled {
  opacity: 0.3;
  cursor: default;
}

.select-control-quantity {
  width: 160px;
  min-height: 49px;
  margin-left: 48px;
  margin-top: 10px;
}

.select-control:hover,
.select-control:focus {
  box-shadow: inset 0 0 0 2px #68A2CA;
  outline: none;
}

.select-control:active {
  box-shadow: inset 0 0 0 2px #3F5E72;
  outline: none;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
}

.sorting {
  padding: 61px 71px 0 71px;
}

.sorting-top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-style-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: -7px;
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
  justify-content: right;
}

.button-card-style {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 2px inset #E5E5E5;
  border-radius: 2px;
  outline: none;
}

.button-card-style-current {
  box-shadow: 0 0 0 2px inset #000000;
}

.button-card-style:hover {
  box-shadow: 0 0 0 2px inset #000000;
}

.button-card-style:active {
  box-shadow: 0 0 0 2px inset #000000;
}

.button-card-style:focus {
  box-shadow: 0 0 0 2px inset #68A2CA;
}

.hotel-card-list {
  padding: 0;
  list-style-type: none;
  margin: 0;
  margin-bottom: 66px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  row-gap: 5px;
  column-gap: 19px;
}

.hotel-card-link {
  text-decoration: none;
  color: #000000;
}

.hotel-card {
  box-sizing: border-box;
  padding: 20px;
  width: 340px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  object-fit: cover;
}

.hotel-card-image {
  color: #f2f2f2;
}

.hotel-card-type-price-wrapper {
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.hotel-card-buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.hotel-card-rating-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotels-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-card-title {
  margin: 0;
  margin-top: 13px;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.button-hotel-card-about {
  min-width: 140px;
  padding: 8px 5px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: #756157;
  border-radius: 4px;
}

.button-favourite {
  box-sizing: border-box;
  margin: 0;
  min-width: 140px;
  padding: 8px 5px;
  color: #ffffff;
  font-size: 16px;
  background: #82B3D3;
  border-radius: 4px;
  border: none;
}

.button-favourite-select {
  background: #7DB54F;
}

.button-favourite-select:hover {
  background: #6C9E42;
}

.button-favourite-select:focus {
  background: #6C9E42;
}

.button-favourite-select:active {
  background: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-rating {
  box-sizing: border-box;
  display: inline-block;
  min-width: 140px;
  padding: 8px 5px;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  background: #f2f2f2;
  border-radius: 4px;
}

.hotel-star {
  height: 17px;
  background-image: url("../images/decoration/star.svg");
  background-repeat: space;
  background-position: center;
}

.hotel-star-three {
  width: 67px;
}

.hotel-star-four {
  width: 88px;
}

.hotel-star-two {
  width: 43px;
}

.hotel-card-type {
  width: 140px;
  color: #333333;
}

.hotel-card-price {
  width: 140px;
  color: #333333;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 25px;
  margin: 0;
  border-top: 1px solid #E6E6E6;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(6, 60px);
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
}

.pagination-link {
  box-sizing: border-box;
  display: block;
  text-align: center;
  min-width: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding: 16px 4px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  background: #82B3D3;
  border-radius: 4px;
}

.pagination-link:hover {
  background: #68A2CA;
  box-shadow: 0 0 0 1px inset #82B3D3;
  border-radius: 4px;
}
.pagination-link:focus {
  background: #68A2CA;
  box-shadow: 0 0 0 1px inset #82B3D3;
  border-radius: 4px;
}

.pagination-link:active {
  background: #82B3D3;
}

.pagination-link-current,
.pagination-link-current:hover,
.pagination-link-current:focus,
.pagination-link-current:active {
  color: #000000;
  background: #f2f2f2;
  box-shadow: none;
}

.newsletter {
  padding: 94px 70px;
  padding-top: 95px;
  background-color: #ffffff;
  text-align: center;
}

.newsletter-form {
  width: 800px;
  display: flex;
  margin: 0 auto;
}

.subscribe {
  margin-top: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-text {
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 22px;
  line-height: 26px;
}

.button-newsletter {
  max-width: 200px;
  min-width: 199px;
  padding: 15px 15px 12px 17px;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background: #82B3D3;
  border-radius: 0px 10px 10px 0px;
}

.newsletter-main {
  color: #ffffff;
  background-image: url("../images/main/interest-background.jpg");
  background-repeat: no-repeat;
  background-color: #68a2ca;
  background-size: cover;
}

.field {
  padding: 22px 20px 20px 22px;
  margin: 0;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px 0 0 10px;
  flex-grow: 1;
}

.field::placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.field:hover {
  opacity: 0.8;
}

.field:disabled {
  opacity: 0.3;
  color: #FFFFFF;
}

.page-footer {
  margin: aut auto 0 auto;
  padding: 0;
}

.footer {
  padding: 0 70px;
  min-height: 120px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer-social-list {
  padding: 0;
  margin: 0;
  margin-right: 109px;
  width: 226px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-link {
  margin-right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 40px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-link:last-of-type {
  margin-right: -4px;
}

.footer-social-tg {
  margin-right: 0px;
  padding-right: 1px;
}

.footer-social-link:hover .social-icon {
  fill: #68A2CA;
}

.footer-social-link:focus .social-icon {
  fill: #68A2CA;
}

.footer-social-link:active .social-icon {
  fill: #82B3D3;
}

.footer-social-link:disabled .social-icon {
  fill: #E5E5E5;
}

.made {
  width: 310px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.made-link {
  margin-left: auto;
  padding: 18px 0 10px 10px;
}

.made-link:hover {
  fill: #756157;
}

.made-link:focus {
  fill: #756157;
}

.made-link:active {
  fill: rgba(117, 97, 87, 0.3);
}

.content-container {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}

.modal-container {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  display: none;
}

.modal {
  position: relative;
  top: 66px;
  margin: auto;
  padding: 62px 70px 70px 70px;
  background: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.booking-form {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 28px;
  width: 575px;
  row-gap: 40px;
}

.modal-booking {
  width: 715px;
  box-sizing: border-box;
}

.modal-title {
  padding: 0;
  margin: 0;
  margin-bottom: 63px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button::before,
.modal-close-button::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 19px;
  width: 16px;
  height: 2px;
  background-color: #000000;
}

.modal-close-button::before {
  transform: rotate(45deg);
}

.modal-close-button::after {
  transform: rotate(-45deg);
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.modal-close-button:active {
  background-color: #E6E6E6;
}

.modal-close-button:active.modal-close-button::after,
.modal-close-button:active.modal-close-button::before {
  background: rgba(0, 0, 0, 0.3);
}

.booking-form-field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  padding: 15px 36px 15px 19px;
  width: 100%;
  box-sizing: border-box;
  background-image: url("../images/modal/modal-date.svg");
  background-repeat: no-repeat;
  background-position: right 19px center;
  outline: none;
  border-radius: 4px;
}

.booking-form-field::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  opacity: 0.6;
}

.booking-form-field:disabled {
  opacity: 0.3;
  cursor: default;
}

.booking-form-field:hover {
  background-color: #E6E6E6;
}

.booking-form-field:focus {
  background-color: #E6E6E6;
  box-shadow: 0 0 0 3px #83B3D3;
}

.booking-form-field:not(:placeholder-shown) {
  background-color: #FFFFFF;
  box-shadow: 0 0 0 2px inset #000000;
}

.booking-form-field:not(:focus) {
  background-color: #F2F2F2;
  box-shadow: none;
}

.field-group {
  position: relative;
  margin: 0;
  display: grid;
  grid-template-columns: auto 420px;
  justify-items: start;
  align-items: center;
  grid-column: 1 / -1;
  column-gap: 20px;
}

.extra-option {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-row: 3 / 4;
}

.extra-option-adult {
  grid-column: 1 / 2;
  width: 288px;
}

.extra-option-adult .counter-container {
  margin-right: 0;
  margin-left: auto;
}

.extra-option-children {
  grid-column: 2 / -1;
}

.modal-info {
  position: absolute;
  top: 61px;
  left: 155px;
  max-width: 420px;
}

.counter-input {
  width: 44px;
  height: 50px;
  padding: 0;
  margin: 0;
  border: none;
  text-align: center;
  font-family: "PT Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  -moz-appearance: textfield;
}

.counter-input:hover {
  opacity: 0.6;
}

.counter-input:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.counter-input::-webkit-outer-spin-button,
.counter-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counter-container {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
}

.counter-button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 50px;
  padding: 0;
  background-color: #f2f2f2;
  cursor: pointer;
  outline: none;
}

.counter-button:hover .counter-box::before,
.counter-button:hover .counter-box::after {
  background-color: #000000;
}

.counter-button:active .counter-box::before,
.counter-button:active .counter-box::after {
  background-color: rgba(0, 0, 0, 0.2);
}

.counter-button:focus .counter-box {
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.counter-button:active .counter-box {
  box-shadow: none;
}

.counter-box {
  width: 25px;
  height: 25px;
  position: relative;
  border-radius: 4px;
}

.counter-box::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 6px;
  width: 13px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}

.counter-box-plus::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 6px;
  width: 13px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  transform: rotate(90deg);
}

.button-search {
  color: #FFFFFF;
  background-color: #83B3D3;
  width: 100%;
  padding: 12px 26px;
  min-height: 60px;
  border-radius: 10px;
  grid-column: 1 / -1;
}

.button-search:focus {
  box-shadow: 0 0 0 3px #756257;
  outline: none;
}

.button-search:active {
  box-shadow: none;
}

.button-search:disabled {
  background: #f5f5f5;
  opacity: 0.3;
}

.modal-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: none;
}

.info-error {
  color: #FF5757;
}

.info-success {
  color: #333333;
}

.children-info {
  position: relative;
  width: 25px;
  height: 25px;
  background: #83b3d3;
  border-radius: 50%;
  background-image: url("../images/modal/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateX(-5px);
  border: none;
  cursor: pointer;
}

.children-info:hover .children-info-modal {
  display: block;
}

.children-info:hover {
  background-color: #68A2CA;
}

.children-info-modal-closed {
  display: none;
}

.children-info-modal {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 18px 18px 18px 25px;
  width: 256px;
  box-sizing: border-box;
  background: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  color: #FFFFFF;
}

.children-info-modal::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../images/modal/modal-triangle.svg");
  background-repeat: no-repeat;
  width: 19px;
  height: 9px;
}

.button:disabled {
  background: #E5E5E5;
  cursor: default;
}